<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.j"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<style type="text/css">
body {
	font-family: sans-serif;
}

form {
	margin: 25px auto;
	font-size: medium;
	padding: 10px 20px;
	border-radius: 10px;
	text-align: justify;
}

body {
	background: linear-gradient(orange, lightblue);
}

h2 {
	text-align: center;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>

<body ng-app="">
	<div ng-controller="UserController as ctrl">
		<table class="table" style="background: linear-gradient(orange, lightblue);">
			<tr>
				<td width="60%" valign="top" style="padding-top: 10px">
					<span style="text-align: center;">
						<h2 style="color: black;">
							Collaboration Portal <br>
							<small style="color: black;">New to Collaboration Portal.
								Please Register</small>
						</h2>
					</span>
					<span style="text-align: center;">
						<img src="resources/Images/register.jpg" height="500px">
					</span>
				</td>
				<td width="40%" style="padding-top: 10px">
					<h2 style="color: black;">Register</h2> <br> <br>
					<form name="form" ng-submit="ctrl.submit()" class="form-horizontal"
						role="form">
						<div class="form-group"
							ng-class="{'has-error' : form.username.$dirty && form.username.$error.required}">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="text" class="form-control" placeholder="Username"
									ng-model="ctrl.user.username" id="username" name="username"
									required> <span
									ng-show="form.username.$dirty && form.username.$error.required"
									class="help-block">Username field cannot be left blank</span>
							</div>
						</div>

						<div class="form-group"
							ng-class="{'has-error' : form.emailId.$dirty && form.emailId.$error.required}">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="email" class="form-control" placeholder="EmailId"
									ng-model="ctrl.user.emailId" id="emailId" name="emailId"
									required> <span
									ng-show="form.emailId.$dirty && form.emailId.$error.required"
									class="help-block">EmailId field cannot be left blank</span>
							</div>
						</div>

						<div class="form-group"
							ng-class="{'has-error' : form.mobile.$dirty && form.mobile.$error.required}">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="text" class="form-control" placeholder="Mobile"
									ng-model="ctrl.user.mobile" id="mobile" name="mobile" required>
								<span
									ng-show="form.mobile.$dirty && form.mobile.$error.required"
									class="help-block">Mobile field cannot be left blank </span>
							</div>
						</div>

						<div class="form-group"
							ng-class="{'has-error' : form.password.$dirty && form.password.$error.required}">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="password" class="form-control"
									placeholder="Password" ng-model="ctrl.user.password"
									id="password" name="password" required ng-minlength="5">
								<span
									ng-show="form.password.$dirty && form.password.$error.required"
									class="help-block">Password field cannot be left blank</span>
							</div>
						</div>

						<div class="form-group"
							ng-class="{'has-error' : form.gender.$dirty && form.gender.$error.required}">
							<div class="col-sm-offset-2 col-sm-10">
								<label class="radio-inline">
									<h5>
										<input type="radio" name="gender" ng-model="ctrl.user.gender"
											id="gender" ng-value="'Male'">Male
									</h5>
								</label> <label class="radio-inline">
									<h5>
										<input type="radio" name="gender" ng-model="ctrl.user.gender"
											id="gender" ng-value="'Female'">Female
									</h5>
								</label> <span
									ng-show="form.gender.$dirty && form.gender.$error.required"
									class="help-block">Gender field cannot be left blank</span>

							</div>
							</div>

							<div class="form-group" ng-class="{'has-error' : form.role.$dirty && form.role.$error.required}">
								<div class="col-sm-offset-2 col-sm-10">
									<label class="radio-inline">
										<h5>
											<input type="radio" name="role" ng-model="ctrl.user.role"
												ng-value="'Employee'" id="role">Employee
										</h5>
									</label> <label class="radio-inline">
										<h5>
											<input type="radio" name="role" ng-model="ctrl.user.role"
												ng-value="'Alumini'" id="role">Alumini
										</h5>
									</label> <label class="radio-inline">
										<h5>
											<input type="radio" name="role" ng-model="ctrl.user.role"
												ng-value="'Student'" id="role">Student
										</h5>
									</label> <span ng-show="form.role.$dirty && form.role.$error.required"
										class="help-block">Role field cannot be left blanks</span>
								</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-default">Register</button>
									</div>

								</div>
					</form>
				
				</td>
				</tr>
				
				</table>
				</div>
			
			
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
              

</body>
</html>



